@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  --navbar-height: 120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 160px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contenedor-section{
  margin: 48px 72px;
  padding: 24px 48px;
}
/* ------------------
    TEXTOS
    -----------------*/
.hero-title{
  font-size: clamp(48px, 7vw, 88px);
  font-weight: 700;
  line-height: 1.05;
  text-shadow: 2px 4px 15px rgba(0,0,0,0.7);
}
.hero-title-md{
  font-size: clamp(34px, 5vw, 52px);
  font-weight: 700;
  line-height: 1.1;
}
.hero-title-brown{
  color: #6b3f1d;
}

.hero-title-white{
  color: white;
}
.section-title {
  font-size: clamp(36px, 5.5vw, 64px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}

.title-h1 {
  font-size: clamp(30px, 4vw, 48px);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.15;
}
.title-h2{
  font-size: clamp(24px, 3vw, 34px);
  font-weight: 700;
  line-height: 1.2;
}

.title-h3 {
  font-size: clamp(20px, 2.2vw, 26px);
  font-weight: 600;
  line-height: 1.25;
}

.xl-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.6;
}

.lg-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.md-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.small-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-subtitle {
  font-size: 20px;
}

/*---- NAVBAR ----*/
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /*background: #fff;*/
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.barra-superior {
  background: rgb(62, 164, 12);
  height: 40px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.container-logo img {
  width: 100px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: #20303c;
  padding: 1rem;
  font-weight: 600;
}

.nav-link:hover {
  color: red;
}
.active{
  color: red;
  font-weight: 600;
}

/*---- FOOTER ----*/
footer{
  position: relative;
  z-index: 2;
}
.container-footer {
  background: rgb(62, 164, 12);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 16px 0 32px 0;
}

.info-footer {
  padding: 12px;
  margin: 4px;
}

.footer-section {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 12px;
  align-items: center;
}

/*---- ICONOS ----*/
.social-icon i {
  font-size: 20px;
  color: white;
  padding: 0px 4px;
}

/*---- HERO BANNER ------ 
-------- INICIO ----*/
.hero-video{
  position: relative;
  height: calc(100svh - var(--navbar-height));
  overflow: hidden;
}

.hero-bg-video{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-overlay{
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  z-index: 2;
}
.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero-logos{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.hero-logos img{
  height: 120px;
  width: auto;
}
@media (max-width: 768px){

  .hero-title{
    font-size: 48px;
  }

  .hero-logos img{
    height: 40px;
  }

}

.productos-principales{
  background: white;
  padding: 80px 0;
}
.contenedor-productos{
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 60px;
  justify-content: center;
}
.producto{
  text-align: center;
}
.contenedor-img-producto{
  margin-bottom: 20px;
}

.contenedor-img-producto img{
  width: 150px;
  height: auto;
}

/*parallax*/
.seccion-parallax{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  padding: 120px 0;
}
.parallax-contenido{
  max-width: 600px;
  color: white;
}
.parallax-left{
  margin-left: 8%;
}
.parallax-centro{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.parallax-maiz{
  background-image: url("src/assets/img/maizbg.jpg");
   background-position: center 30%;
}
.hero-parallax{
  margin: 0 auto;
  text-align: center;
  text-wrap: balance;
}

.parallax-nixtamal{
  background-image: url("src/assets/img/tortillabg.jpg");
}
.hero-title span{
  display:block;
}
.logo-parallax{
  margin-top: 30px;
  width: 420px;
}
@media (max-width: 768px) {
  .seccion-parallax{
    background-attachment: scroll;
  }
}

/* banner redes sociales */
.banner-social{
  position: relative;
  background: #ffef2c;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.banner-contenido{
  max-width: 600px;
  z-index: 2;
}
.social-icons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icono-social{
  font-size: 28px;
  color: #000;
  transition: transform 0.2s ease;
}
.icono-social i{
font-size: 24px;
}

.icono-social:hover{
  transform: scale(1.15);
}
.banner-img{
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.banner-img.izquierda{
  left: 0;
}

.banner-img.derecha{
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  width: auto;
}
/*-----------------
     BANNER 
  -----------------*/
.section-banner {
  position: relative;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1523800378286-dae1f0dae656?q=80&w=1076&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.section-banner .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-title {
  color: white;
  text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.7);
}

.banner-box-style .contenedor-section {
  background: #3c1b02;
  color: white;
  max-width: 800px;
  max-height: 300px;
  padding: 42px;
}

.banner-contacto {
  background-image: url("src/assets/img/contacto/contactobg.JPG");
}
.banner-nosotros {
  background-image: url("src/assets/img/nosotros/nosotrosbg.jpg");
}
.banner-productos {
  background-image: url("src/assets/img/productos/banner.webp");
}
.banner-industria{
  background-image: url("src/assets/img/nosotros/industria.jpg");
}
.banner-distribuidores{
  background-image: url("src/assets/img/nosotros/distribuidores.jpg");
}
.banner-historia{
  background-image: url("src/assets/img/hs/historiabg.jpg");
}
/*---------------------
        CONTACTO 
 --------------------*/
.contact-content {
  display: flex;
  min-height: 500px;
}

.contact-info {
  width: 50%;
  background: #ffef2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.title-contact {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
}

.subtitle-contact {
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}

.contact-form-container {
  width: 50%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  background: #ede8d0;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form .row {
  display: flex;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  background: transparent;
  outline: none;
}

.contact-form input:focus,
.contact-form input:hover,
.contact-form textarea:hover,
.contact-form textarea:focus {
  border-bottom: 2px solid #000;
  /* ejemplo morado */
}

.contact-form button {
  padding: 12px;
  border: none;
  background: #9e3438;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  border: 1px solid #9e3438;
  color: #9e3438;
  background: white;
}

.socials {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.socials a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.contact-map {
  width: 100%;
  padding: 48px 0px;
}

/* ------------------
    HISTORIA
    -----------------*/
.info-hs, .producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.info-hs .contenedor-info,
.producto .contenedor-img-producto{
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.valores-hs{
  background: #ede8d0;
}

.contenedor-valores {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 40px;
  justify-content: center;
}

.contenedor-img-valor{
  display: flex;
  justify-content: center;
}

.contenedor-img-valor img{
  width: 160px;
}

.valor{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

/* ------------------
    NOSOTROS
--------------------*/
.section-split {
  font-size: auto;
}

.split-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img text";
  align-items: stretch; 
  height: 500px;
}

.split-img {
  height: 100%;
  grid-area: img;
  overflow: hidden;
}

.split-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.split-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  text-align: center;
  grid-area: text;
}
.reverse {
  grid-template-areas: "text img";
}
.banner-content{
  text-align: center;
  color: white;
  max-width: 700px;
}

@media (max-width: 900px) {
  .split-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "text";
  }

  .reverse {
    grid-template-areas:
      "img"
      "text";
  }
}

