<!-- FOOTER -->
<footer id="footer">
    <div class="container-footer">
        <div class="footer-section">
            <div class="info-footer">
                <p class="footer-subtitle">Contactanos</p>
                <p class="small-text">Tortilleria: 662 217 5887 <br> General: 662 301 7660</p>
            </div>
            <div class="info-footer">
                <p class="footer-subtitle">Direccion</p>
                <p class="small-text">Av. Oaxaca 108-A <br> 83040 Hillo., Son., México</p>
            </div>
        </div>
        <div class="footer-section">
            <div class="redes-sociales info-footer">
                <a target="_blank" href="https://www.facebook.com/" class="social-icon" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/" class="social-icon" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://www.yelp.com/" class="social-icon" aria-label="Yelp">
                    <i class="bi bi-yelp"></i>
                </a>
            </div>
        </div>
    </div>
</footer>