<!-- NAVBAR -->
<nav id="navbar" class="navbar">
    <div class="barra-superior"></div>
    <div class="container-nav">
        <!-- Logo izquierdo -->
        <div class="container-logo">
            <a href="#"><img src="../src/assets/img/logo.png" alt="" /></a>
        </div>

        <!-- Menú de navegación -->
        <div class="">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../productos.html">Productos</a>
                    <ul class="dropdown-menu">
                        <li>
                        <a class="dropdown-item" href="/productos/?categoria=tortillas">
                            Tortillas
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-item" href="/productos/?categoria=totopos">
                            Totopos
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-item" href="/productos/?categoria=frituras">
                            Frituras
                        </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../historia.html">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contacto.html">Contacto</a>
                </li>
            </ul>
        </div>

        <!-- Logo derecho -->
        <div class="container-logo">
            <a href="#"><img src="../src/assets/img/LOGO 25 AÑOS 2.png" alt="" /></a>
            <a href="#"><img src="../src/assets/img/tortilla autentica logo 2.png" alt="" /></a>
        </div>
    </div>
</nav>